@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 공통 클래스 정의 */
.font-xl {
  font-size: 1.8rem;
}

.font-l {
  font-size: 1.5rem;
}

.font-m {
  font-size: 1.2rem;
  line-height: 140%;
}

.font-s {
  font-size: 0.875rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #fff;
  z-index: 99999;
}
header img {
  width: 75%;
}
header #menu-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header #menu-container ul {
  display: flex;
  gap: 10px;
  margin: 0;
}
header #menu-container ul.sub-menu {
  display: none;
}
header #menu-container ul.sub-menu.show {
  display: flex;
  flex-wrap: wrap;
}
header #menu-container ul.sub-menu a {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 6px 20px 3px;
}
header #menu-container ul.sub-menu a.no-link {
  pointer-events: none;
}
header #menu-container ul.sub-menu a:hover {
  background-color: #40d2ff;
}
header #menu-container ul.sub-menu a li {
  font-size: 1rem;
}
header #menu-container ul a {
  background-color: #000;
  color: #fff;
  padding: 10px 20px 6px;
  text-decoration: none;
}
header #menu-container ul a:hover {
  background-color: #fff;
  color: #000;
}
header #menu-container ul a li {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  pointer-events: none;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: end;
  padding: 20px;
}
footer img {
  width: 5%;
}
footer p {
  margin: 0;
}

#main-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
#main-container #logo-video {
  width: -webkit-fill-available;
  height: auto;
  padding: 200px;
}

.contents-container {
  padding-top: 15vh;
}
.contents-container .title-container {
  display: flex;
  justify-content: start;
  margin: 0 5vw;
  border-bottom: 1px solid #000;
}
.contents-container .title-container span {
  font-size: 4rem;
  color: #000;
}
.contents-container .content-container {
  display: grid;
  padding: 0 5vw;
  padding-bottom: 10vh;
  margin-top: 2.5vh;
  gap: 80px;
  grid-template-columns: repeat(2, 1fr);
}
.contents-container .content-container.column {
  grid-template-columns: 1fr;
  gap: 0;
}
.contents-container .content-container .flex {
  display: flex;
  gap: 40px;
}
.contents-container .content-container .flex p {
  margin: 10px 0;
}
.contents-container .content-container .text-wrapper {
  word-break: keep-all;
  white-space: normal;
  margin-bottom: 20px;
  line-height: 140%;
}
.contents-container .content-container .content-item.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents-container .content-container .content-item #logo-video {
  width: 100%;
  height: auto;
}
.contents-container .content-container .button {
  display: inline-block;
  padding: 10px 20px 7px 20px;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */